<div class="absolute top-0 left-0 p-4">
  <%= image_tag 'file_ease_logo.png', alt: 'Logo', class: 'h-12' %>
</div>

<div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold text-center text-indigo-900 mb-6">Não sabe sua senha?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "space-y-4" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mb-6">
          <%= f.label :email, class: "block text-gray-700" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Envie-me instruções para redefinir a senha", class: "w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75" %>
        </div>
      <% end %>

      <div class="text-center mt-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
