<div class="tabs">
  <ul class="flex border-b border-gray-300">
    <li class="mr-1">
      <a href="#recent-documents" class="tab-link block py-2 px-4 <%= 'text-blue-500 border-b-2 border-blue-500' if params[:tab].blank? || params[:tab] == 'recent' %>">Recentes</a>
    </li>
    <li class="mr-1">
      <a href="#all-documents" class="tab-link block py-2 px-4 <%= 'text-blue-500 border-b-2 border-blue-500' if params[:tab] == 'all' %>">Histórico (Últimos 10 registros)</a>
    </li>
  </ul>
</div>

<div id="recent-documents" class="tab-content <%= 'hidden' if params[:tab] == 'all' %> pt-4">
  <ul class="list-none flex flex-col divide-y-4 divide-slate-400/25">
    <% if @documents_recent.present? && @documents_recent.any? %>
      <% @documents_recent.each do |document| %>
        <li class="flex flex-row gap-4 items-center justify-between py-4">
          <div><%= File.basename(document.file.path) %></div>
          <%= link_to "Ver Relatório", document_path(document.id), class: "inline-flex items-center bg-[#5ba6f8] text-white py-3 px-6 rounded hover:bg-[#5ba6f8] focus:outline-none focus:ring-2 focus:bg-[#5ba6f8] focus:ring-opacity-75", target: "_blank" %>
        </li>
      <% end %>
    <% else %>
      <p>Não há documentos recentes para exibir. Faça um upload ou olhe no histórico</p>
    <% end %>
  </ul>
</div>

<div id="all-documents" class="tab-content <%= 'hidden' unless params[:tab] == 'all' %> pt-4">
  <ul class="list-none flex flex-col divide-y-4 divide-slate-400/25">
    <% if @documents_all.present? && @documents_all.any? %>
      <% @documents_all.each do |document| %>
        <li class="flex flex-row gap-4 items-center justify-between py-4">
          <div><%= File.basename(document.file.path) %></div>
          <%= link_to "Ver Relatório", document_path(document.id), class: "inline-flex items-center bg-[#5ba6f8] text-white py-3 px-6 rounded hover:bg-[#5ba6f8] focus:outline-none focus:ring-2 focus:bg-[#5ba6f8] focus:ring-opacity-75", target: "_blank" %>
        </li>
      <% end %>
    <% else %>
      <p>Não há histórico para exibir</p>
    <% end %>
  </ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabLinks = document.querySelectorAll('.tab-link');
    const tabContents = document.querySelectorAll('.tab-content');

    tabLinks.forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        
        tabLinks.forEach(link => link.classList.remove('text-blue-500', 'border-blue-500'));
        tabContents.forEach(content => content.classList.add('hidden'));
        
        this.classList.add('text-blue-500', 'border-blue-500');
        document.querySelector(this.getAttribute('href')).classList.remove('hidden');
      });
    });

    const initialTab = window.location.hash || '#recent-documents';
    document.querySelector(`.tab-link[href="${initialTab}"]`).click();
  });
</script>
