<%= form_with(url: document_path(@document), method: :get, local: true) do |form| %>
  <div class="flex flex-row gap-4 justify-between items-end">
    <div class="flex flex-row w-full justify-around items-end">
      <div class="field">
        <%= form.label :xProd, 'NCM' %>
          <%= form.text_field :NCM, value: params[:NCM],
            class: 'mt-1 block w-4/5 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'
            %>
      </div>

      <div class="field">
        <%= form.label :xProd, 'Nome do Produto' %>
          <%= form.text_field :xProd, value: params[:xProd],
            class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'
            %>
      </div>
    </div>

    <div class="flex flex-row gap-2 w-full justify-end items-end">
      <%= form.submit "Filtrar" ,
        class: "inline-flex items-center bg-indigo-500 text-white font-bold py-2.5 px-6 rounded hover:bg-indigo-600 hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75"
        %>
        <%= link_to "Limpar Filtros" , document_path(@document),
          class: "inline-flex items-center bg-[#6bdae2] text-white font-bold py-2.5 px-6 rounded hover:bg-[#6bdae2] hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-[#6bdae2] focus:ring-opacity-75"
          %>
    </div>
  </div>
<% end %>